
        <div class="row">

                <div class="col-xs-8">

                    <h1>Where to find us:</h1>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.6962996920092!2d-6.24531438473216!3d53.348692482237446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e8cd86e97e7%3A0x6d51b774ee7fa935!2sNational+College+of+Ireland!5e0!3m2!1sen!2sie!4v1472393768900" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    
                </div>

        </div> 
